<div class="cell"> 
<h3><a href="/transaction/new">Save New Transaction</a></h3>

<h3>Transactions:</h3>

<!-- <table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  
</table> -->

<% @transactions.each do |transaction| %>
  <p>Value: <strong>£<%= transaction.value %></strong></p>
  <p>Date: <strong><%= transaction.pretty_date() %></strong></p>
  <p>Comment: <strong><%= transaction.comment%></strong></p>
  <p>Tag: <strong><%= transaction.tags.name %></strong></p>
  <p>Merchant: <strong><%= transaction.merchants.name %></strong></p>
  <h4><a href="/transaction/<%=transaction.id%>">Transaction Profile</a></h4>
  <hr />
<% end %>

</div>  


